{% extends "gospelcenterUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <h1>Sign in</h1>

    {% if error %}
        <article class="error">
            <span>{{ error|trans }}</span>
        </article>
    {% endif %}
    
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email" />
    
        <input type="password" id="password" name="_password" required="required" placeholder="Password" />
    
        <input type="checkbox" id="remember_me" name="_remember_me" checked="1" value="on" />
        <label for="remember_me">Keep me logged in</label>
    
        <input type="submit" id="_submit" name="_submit" class="buttonLink" value="Sign in" />
    </form>
    
{% endblock %}
