{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}

<nav class="social">
    <h1>Login</h1>
	<ul> 
	    {% if app.user %}
	        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'gc.security.logout'|trans }}</a></li>
		{% else %}
		    <li><a href="{{ path('fos_user_security_login', {'continue': currentPath}) }}">{{ 'gc.security.login'|trans }}</a></li>
		{% endif %}
	</ul>
</nav>