<li><a href="{{ path('gospelcenterAdminGlobal_persons_add') }}">Add a Contact</a></li>
<li><a href="{{ path('gospelcenterAdminGlobal_persons') }}">Manage Contacts</a></li>
<li><a href="{{ path('gospelcenterAdminGlobal_pages') }}">Dashboard</a></li>
<li class="line"></li>