{% block body %}
    <section id="page" class="about simple">
    
        <h1>Gospel Center Band</h1>
        
        <h2>Le groupe désire encourager le corps de Christ par une
louange dynamique de qualité, positive et puissante.</h2>
        
        {#<div id="left" class="arrow"></div>#}
        
        <article id="1" class="slide" style="background-image: url('{{ asset('bundles/gospelcenterpage/images/gospel_center_band_rj_2013.jpg') }}')">
            <section class="content">
                <h1>Gospel Band</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>
        </article>
        
        {#<div id="right" class="arrow"></div>#}
        
        {#
        <nav id="slides">
            <ul>
                <li class="current" data-slide="1"></li>
            </ul>
        </nav>
        #}
        
        {% include "@gospelcenterPage/StaticPage/"~ center.ref ~"/"~ language ~"/about_nav.html.twig" %}
        
    </section>
{% endblock %}