{% block body %}
    <section id="page" class="about simple">
    
        <h1>Notre staff</h1>
        
        <h2>Le staff du Gospel Center Lausanne est une équipe dynamique qui désire effectuer un travail de qualité.</h2>
        
        
        {% include "@gospelcenterPage/StaticPage/"~ center.ref ~"/"~ language ~"/about_nav.html.twig" %}
        
    </section>
{% endblock %}