<h2 class="slogan findBase">TROUVEZ UNE BASE PRÈS DE CHEZ VOUS</h2>

<section id="map" class="map_full">
    <iframe src="http://map.gospel-center.com"></iframe>
</section>

<section class="formGray">
    <h1>Pour plus d'infos, contactez-nous</h1>

    <form>
        <fieldset class="left width1_3">
            <input placeholder="Nom">
            <input placeholder="E-mail">
            <input placeholder="Téléphone">
        </fieldset>
        <fieldset class="right width2_3">
            <textarea placeholder="Message"></textarea>
        </fieldset>
        <input type="submit" value="Envoyer" class="buttonLink"/>
    </form>
</section>