{% block body %}

    <h1 class="titlePage"><span>Nous soutenir</span></h1>
    <h2 class="slogan">Le Gospel Center Lausanne est une association à but non lucratif,
        qui ne reçoit aucun soutien financier de l’État.</h2>

    <article class="tab blog-style">

        <h1>Devenez des partenaires</h1>

        <img class="big" src="{{ asset('bundles/gospelcenterpage/images/nous-soutenir.jpg') }}">

        <p>La Parole de Dieu nous encourage à devenir partenaire de l’œuvre de Dieu en donnant. Ce don peut se
            manifester de différentes manières :</p>

        <ul>
            <li>donner du temps,</li>
            <li>donner de ses talents</li>
            <li>et aussi donner financièrement.</li>
        </ul>

        <p>Le Gospel Center est une association à but non lucratif, qui ne reçoit aucun soutien financier de l’État et
            l’ensemble des frais de fonctionnement est assuré par l’engagement libre de chacun. Nos comptes sont
            approuvés par l’assemblée générale après vérification par une fiduciaire.</p>

        <h3>La Bible déclare la chose suivante</h3>

        <section class="bible">
            <h1 class="verse">2 Corinthiens 9: 6-7</h1>
            <blockquote>Celui qui sème peu moissonnera peu, et celui qui sème largement moissonnera largement. Que
                chacun donne comme il l’a résolu en son cœur, sans tristesse ni contrainte ; car Dieu aime celui qui
                donne avec joie. Et Dieu a le pouvoir de vous combler de toutes sortes de grâces, afin que, disposant
                toujours, à tous égards, de tout le nécessaire, vous ayez encore en abondance pour toute œuvre bonne,
                ainsi qu’il est écrit : Il a répandu ses bienfaits, il a donné aux pauvres ; sa justice demeure pour
                toujours.
            </blockquote>
        </section>

        <p>Basés sur cette promesse qui s’est avérée vraie dans de nombreuses circonstances, nous aimerions vous
            encourager à donner au Gospel Center, sans quoi sa vision ne pourra pas être complètement réalisée.
            Si vous êtes intéressés à participer aux différents projets du Gospel Center Lausanne notamment par un don
            financier, vous pouvez le faire par virement postal.</p>

        <article class="frame">
            <h1>Nous soutenir</h1>

            <p>CCP: 17-637864-2</p>

            <p>Gospel Center Lausanne</p>

            <p>1007 Lausanne</p>

            <p>Suisse.</p>
        </article>

        <h2 class="underline"><span>Nos projets</span></h2>

        <h3>Bâtiment</h3>

        <p>Nous désirons faire l’acquisition d’un bâtiment pouvant accueillir 800 à 1000 personnes.
            Un compte bâtiment est ouvert pour toutes les personnes qui souhaitent voir dans un futur proche le Gospel
            Center dans de nouveaux locaux. Nous encourageons toutes les personnes à faire un don pour voir ce projet se
            réaliser. CCP 10-186944-9 BV disponible au stand accueil.</p>

        <h3>Distribution de Bible</h3>

        <p>Chaque année le Gospel Center au travers de divers événements et célébrations distribue gratuitement plus de
            3500 Bibles par année.</p>

    </article>
{% endblock %}