{% extends "::adminGlobal_options.html.twig" %}

{% block gospelcenterAdminOptions_body %}
    
    <table class="main">
        <thead>
            <tr>
                <th data-sort="string">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
                <tr>
                    <td><a href="{{ path('gospelcenterAdminGlobal_options_units_edit', {'unit': unit.id}) }}">{{ unit.name }}</a></td>
                </tr>
            {% else %}
                <tr><td colspan="1">There are no units.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
