@font-face {
  font-family: 'Radikal-Light';
  src: url("../fonts/2B5662_0_0.eot");
  src: url("../fonts/2B5662_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_0_0.woff") format("woff"), url("../fonts/2B5662_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'Radikal-Black';
  src: url("../fonts/2B5662_1_0.eot");
  src: url("../fonts/2B5662_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_1_0.woff") format("woff"), url("../fonts/2B5662_1_0.ttf") format("truetype"); }
@font-face {
  font-family: 'Radikal-Bold';
  src: url("../fonts/2B5662_2_0.eot");
  src: url("../fonts/2B5662_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_2_0.woff") format("woff"), url("../fonts/2B5662_2_0.ttf") format("truetype"); }
@font-face {
  font-family: 'Radikal';
  src: url("../fonts/2B5662_3_0.eot");
  src: url("../fonts/2B5662_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_3_0.woff") format("woff"), url("../fonts/2B5662_3_0.ttf") format("truetype"); }
@font-face {
  font-family: 'Radikal-UltraThin';
  src: url("../fonts/2B5662_4_0.eot");
  src: url("../fonts/2B5662_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2B5662_4_0.woff") format("woff"), url("../fonts/2B5662_4_0.ttf") format("truetype"); }
#page.admin.pages fieldset#slides legend {
  font-size: 1.2em;
  line-height: 1.2em; }
#page.admin.pages fieldset#slides article.slide {
  display: block;
  margin-bottom: 20px; }
  #page.admin.pages fieldset#slides article.slide:first-of-type #up {
    display: none; }
  #page.admin.pages fieldset#slides article.slide:first-of-type #down {
    margin-top: 90px; }
  #page.admin.pages fieldset#slides article.slide:last-of-type #down {
    display: none; }
#page.admin.pages fieldset#slides section {
  width: 520px;
  height: 177px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  position: relative; }
  #page.admin.pages fieldset#slides section h1 {
    color: #FDFDFC;
    font-size: 1.4em;
    position: absolute;
    bottom: 15px;
    margin-left: 10px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }
#page.admin.pages fieldset#slides div.arrow {
  display: inline-block;
  width: 20px;
  height: 177px;
  vertical-align: top; }
  #page.admin.pages fieldset#slides div.arrow div {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer; }
    #page.admin.pages fieldset#slides div.arrow div#up {
      background-image: url("../../images/slideSort.svg");
      background-position: center top;
      margin-top: 62px; }
    #page.admin.pages fieldset#slides div.arrow div#down {
      background-image: url("../../images/slideSort.svg");
      background-position: center bottom;
      margin-top: 5px; }

#page.admin.events div.collection.links {
  margin-top: 0; }
  #page.admin.events div.collection.links > div {
    display: block; }
    #page.admin.events div.collection.links > div div {
      display: inline-block;
      vertical-align: top; }
  #page.admin.events div.collection.links input.name {
    display: inline-block;
    width: 248px;
    vertical-align: top; }
    #page.admin.events div.collection.links input.name:focus {
      width: 247px; }
    #page.admin.events div.collection.links input.name:first-of-type {
      margin-right: 10px; }
#page.admin.events #video #videoContainer {
  margin-top: 30px; }

form.unit div.collection.accessesLevel {
  margin-top: 0; }
  form.unit div.collection.accessesLevel > div {
    display: block; }
    form.unit div.collection.accessesLevel > div div {
      display: inline-block;
      vertical-align: top; }
      form.unit div.collection.accessesLevel > div div div:first-of-type {
        margin-right: 12px; }

#page.admin.locations #map-canvas {
  margin-top: 30px; }
#page.admin.locations div#geo-data {
  display: block;
  margin-top: 10px; }
  #page.admin.locations div#geo-data div {
    display: inline-block;
    margin-right: 20px;
    font-size: 0.8em; }

form {
  border-bottom: 3px solid #89CEB7;
  margin-top: 120px;
  padding: 10px 30px 30px;
  max-width: 550px;
  margin-bottom: 50px; }
  form input,
  form textarea {
    width: 528px;
    max-width: 528px; }
    form input:focus,
    form textarea:focus {
      width: 529px; }
  form ul.selectMultiple {
    display: block;
    max-height: 100px;
    border: 1px solid #878787;
    width: 262px;
    margin-top: 30px;
    overflow: scroll;
    padding: 2px; }
    form ul.selectMultiple li {
      display: block;
      list-style: none;
      font-size: 1.1em;
      line-height: 1.1em;
      font-family: "Radikal-Light", "Radikal", sans-serif;
      color: #878787;
      cursor: pointer;
      padding: 3px 7px; }
      form ul.selectMultiple li.selected {
        color: #363331;
        font-family: "Radikal", sans-serif;
        padding: 4px 7px 2px;
        background-color: #EBEBEB; }
  form fieldset {
    margin-top: 30px; }
    form fieldset .half {
      width: 268px;
      display: inline-block;
      overflow: auto;
      vertical-align: top; }
      form fieldset .half h2 {
        font-size: 1.2em;
        line-height: 1.2em;
        padding-bottom: 5px; }
      form fieldset .half:first-of-type {
        margin-right: 10px; }
      form fieldset .half img {
        width: 266px; }
      form fieldset .half #addImage,
      form fieldset .half #editImage {
        width: 266px;
        margin-bottom: 0px;
        margin-top: 0px; }
    form fieldset.double {
      margin-top: 0px; }
      form fieldset.double input,
      form fieldset.double textarea {
        display: inline-block;
        width: 246px;
        vertical-align: top; }
        form fieldset.double input:focus,
        form fieldset.double textarea:focus {
          width: 245px; }
        form fieldset.double input:first-of-type,
        form fieldset.double textarea:first-of-type {
          margin-right: 10px; }
    form fieldset.inline {
      margin-top: 0px; }
      form fieldset.inline > div, form fieldset.inline > input, form fieldset.inline > select, form fieldset.inline > textarea {
        display: inline-block;
        margin-right: 20px; }
    form fieldset.datetime {
      display: block;
      width: 100%; }
      form fieldset.datetime h2 {
        color: #878787;
        font-size: 1.1em;
        font-family: "Radikal-Light", "Radikal", sans-serif;
        padding-left: 10px;
        display: inline-block;
        vertical-align: top;
        line-height: 42px; }
      form fieldset.datetime > div {
        float: right; }
      form fieldset.datetime div {
        display: inline-block;
        vertical-align: center; }
        form fieldset.datetime div select {
          display: inline-block;
          width: 60px;
          margin: 0;
          margin-left: -1px; }
    form fieldset.date select[id*="day"] {
      width: 75px; }
    form fieldset.date select[id*="month"] {
      width: 135px; }
    form fieldset.date select[id*="year"] {
      width: 90px; }
    form fieldset.times div {
      margin-right: 10px;
      margin-left: 10px;
      color: transparent;
      font-family: "Radikal-Light", "Radikal", sans-serif;
      font-size: 1.1em; }
      form fieldset.times div:first-of-type {
        margin-left: 0; }
      form fieldset.times div:last-of-type {
        margin-right: 0; }
      form fieldset.times div select[id*="hour"] {
        width: 70px; }
      form fieldset.times div select[id*="minute"] {
        width: 70px;
        margin-left: -10px; }
    form fieldset.times > div {
      color: #878787; }
    form fieldset.hide {
      display: none; }
  form div.error_list {
    padding-top: 5px;
    color: #D91A15; }
  form select {
    border: 1px solid #878787;
    line-height: 1.1em;
    height: 44px;
    padding: 0 10px;
    font-size: 1.1em;
    font-family: "Radikal-Light", "Radikal", sans-serif;
    letter-spacing: 0px;
    background-color: #FDFDFC;
    margin-top: 30px;
    display: block;
    width: 268px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url("../images/select_arrow.svg");
    background-position: right center;
    background-repeat: no-repeat; }
    form select[multiple="multiple"] {
      height: 100px;
      background-image: none; }
      form select[multiple="multiple"] option {
        color: #878787;
        font-size: 2em;
        font-family: "Radikal", sans-serif; }
        form select[multiple="multiple"] option:active {
          background-color: #D91A15; }
    form select:focus {
      outline: none;
      border: 2px solid #313131;
      z-index: 100;
      padding-left: 9px; }
  form input[type="submit"] {
    display: block;
    border: 2px solid #363331;
    padding: 4px 3px 3px 3px;
    font-family: "Radikal-Bold", "Radikal", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #363331;
    margin: 10px 0;
    width: auto;
    height: auto;
    line-height: 16px;
    margin-top: 30px;
    cursor: pointer; }
    form input[type="submit"]:hover {
      text-decoration: none;
      border: 3px solid #363331;
      padding: 3px 2px 2px 2px; }
  form textarea {
    min-height: 100px;
    padding-top: 10px; }
  form img {
    max-width: 550px;
    max-height: 400px;
    margin: 30px auto 0;
    display: block; }
  form div.collection {
    margin-top: 30px; }
    form div.collection a.delete {
      float: right; }
    form div.collection label {
      font-size: 1.1em; }
    form div.collection input,
    form div.collection select {
      margin-top: 10px; }
    form div.collection > div {
      border-bottom: 1px solid #89CEB7;
      margin-top: 40px; }
      form div.collection > div > div {
        margin-bottom: 20px; }
      form div.collection > div:last-of-type {
        border-bottom: none; }
      form div.collection > div > label {
        display: none; }
  form div.datetime {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px; }
    form div.datetime select {
      display: inline-block;
      margin-left: -1px;
      margin-top: 0px; }
      form div.datetime select[id*="day"] {
        width: 85px; }
      form div.datetime select[id*="month"] {
        width: 145px; }
      form div.datetime select[id*="year"] {
        width: 100px; }
      form div.datetime select[id*="hour"] {
        width: 80px;
        margin-left: 64px; }
      form div.datetime select[id*="minute"] {
        width: 80px; }
  form article.tab > h2 {
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: -20px; }
  form section.tab {
    margin-top: 30px; }
  form #addImage {
    margin: 30px auto 30px;
    display: block;
    width: 300px;
    border: 2px dashed #363331;
    cursor: pointer; }
    form #addImage.hover {
      border-color: #89CEB7;
      color: #89CEB7; }
      form #addImage.hover .iconImg {
        background-image: url("../images/add_image_hover.svg"); }
    form #addImage .iconImg {
      display: block;
      margin: 20px auto 10px;
      height: 64px;
      width: 64px;
      background-image: url("../images/add_image.svg");
      background-size: 100%; }
    form #addImage .txt {
      text-align: center;
      margin-bottom: 20px; }
  form #editImage {
    margin: 0 auto;
    cursor: pointer;
    display: block;
    max-width: 550px;
    max-height: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden;
    position: relative; }
    form #editImage img {
      display: block;
      max-width: 100%;
      margin-top: 0px; }
    form #editImage:hover div.edit {
      display: block; }
    form #editImage div.edit {
      text-align: center;
      height: 20px;
      background-color: #363331;
      color: #FDFDFC;
      display: none;
      position: absolute;
      width: 100%;
      bottom: 0px;
      padding-top: 5px;
      padding-bottom: 5px; }
  form section.selectList {
    display: block;
    margin-top: 30px; }
    form section.selectList > header h1 {
      display: inline-block;
      font-size: 1.2em;
      line-height: 1.2em;
      font-family: "Radikal", sans-serif;
      margin-left: 10px;
      vert-align: top;
      width: 400px; }
    form section.selectList > header input.search {
      vert-align: top;
      margin: 1px 1px 5px 1px;
      height: 22px;
      padding: 2px 2px 2px 6px;
      font-size: 1em;
      line-height: 22px;
      width: 120px;
      display: inline-block; }
      form section.selectList > header input.search:focus {
        margin-left: 0;
        margin-right: 0;
        height: 20px; }
    form section.selectList ul {
      border-top: 3px solid #89CEB7;
      border-bottom: 3px solid #89CEB7;
      max-height: 250px;
      overflow: scroll; }
      form section.selectList ul li {
        display: block;
        list-style: none;
        cursor: pointer;
        border-bottom: 1px solid #89CEB7;
        height: 54px; }
        form section.selectList ul li:last-of-type {
          border-bottom: none; }
        form section.selectList ul li:hover {
          background-color: #EBEBEB; }
        form section.selectList ul li.hide {
          display: none; }
        form section.selectList ul li.selected {
          background-color: #89CEB7;
          color: #FDFDFC; }
          form section.selectList ul li.selected time {
            color: #FDFDFC; }
        form section.selectList ul li > div {
          display: inline-block;
          height: 54px;
          vertical-align: top;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          transform-style: preserve-3d; }
          form section.selectList ul li > div.image {
            width: 60px; }
            form section.selectList ul li > div.image div.empty {
              background-color: rgba(135, 135, 135, 0.3);
              height: 40px;
              width: 40px;
              margin: 6px auto 0;
              display: block; }
          form section.selectList ul li > div.title {
            width: 330px; }
          form section.selectList ul li > div.date {
            width: 140px; }
          form section.selectList ul li > div img {
            height: 40px;
            margin: 6px auto 0;
            display: block; }
          form section.selectList ul li > div h1 {
            font-family: "Radikal-Light", "Radikal", sans-serif;
            line-height: 1.2em;
            position: relative;
            z-index: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            margin-right: 10px; }
          form section.selectList ul li > div time {
            color: #878787;
            font-family: "Radikal-Light", "Radikal", sans-serif;
            letter-spacing: 1px;
            font-size: 0.9em;
            text-align: right;
            position: relative;
            z-index: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            display: block; }
  form.delete {
    padding-top: 30px; }
    form.delete section.details {
      margin-left: 20px;
      margin-top: 20px; }
    form.delete a.buttonLink,
    form.delete input.buttonLink {
      display: inline-block;
      margin-right: 20px; }

#page.admin.single #container {
  max-width: 610px; }
  #page.admin.single #container section.container {
    max-width: 610px;
    background-color: #FDFDFC;
    border-bottom: 3px solid #89CEB7; }
    #page.admin.single #container section.container a.back {
      display: block;
      font-size: 0.9em;
      line-height: 1.5em;
      font-family: "Radikal", sans-serif;
      color: #363331;
      padding-left: 25px;
      background-image: url("../images/back.svg");
      background-position: left 0px;
      background-repeat: no-repeat;
      margin-bottom: 30px; }
  #page.admin.single #container div.tableHeaderBG .inner {
    max-width: 610px; }
#page.admin #container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }
  #page.admin #container > header {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 40px;
    position: fixed;
    width: 100%;
    top: 64px;
    left: 0;
    background-color: #FDFDFC;
    z-index: 100; }
    #page.admin #container > header section.container {
      width: 100%;
      max-width: 960px;
      margin: 0 auto; }
    #page.admin #container > header h1 {
      display: inline-block;
      font-size: 1.9em;
      line-height: 40px;
      font-family: "Radikal-Light", "Radikal", sans-serif; }
      #page.admin #container > header h1.switch {
        padding-left: 30px;
        background-image: url("../images/switch.svg");
        background-repeat: no-repeat;
        background-position: left 3px; }
    #page.admin #container > header ul.adminTitle {
      display: none;
      font-family: "Radikal", sans-serif;
      background-color: #FDFDFC;
      position: fixed;
      z-index: 1000;
      border: 1px solid #878787;
      padding: 0 20px 10px 10px; }
      #page.admin #container > header ul.adminTitle.active {
        display: block; }
      #page.admin #container > header ul.adminTitle li {
        list-style: none;
        display: block;
        margin-top: 15px; }
        #page.admin #container > header ul.adminTitle li.current a {
          color: #363331; }
        #page.admin #container > header ul.adminTitle li a {
          color: #878787; }
          #page.admin #container > header ul.adminTitle li a:hover {
            text-decoration: none; }
    #page.admin #container > header section.tools {
      display: inline-block;
      float: right; }
      #page.admin #container > header section.tools a {
        display: inline-block;
        margin: 0 10px;
        padding-top: 10px;
        vertical-align: top;
        background-size: 100%;
        background-repeat: no-repeat;
        font-size: 1.2em; }
        #page.admin #container > header section.tools a.add, #page.admin #container > header section.tools a.delete, #page.admin #container > header section.tools a.remove {
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          width: 32px;
          height: 32px;
          padding-top: 0px; }
        #page.admin #container > header section.tools a.add {
          background-image: url("../images/add.svg"); }
        #page.admin #container > header section.tools a.delete, #page.admin #container > header section.tools a.remove {
          background-image: url("../images/delete.svg"); }
      #page.admin #container > header section.tools #search {
        border: 1px solid #878787;
        display: inline-block;
        line-height: 32px;
        width: 175px;
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        background-position: left center;
        color: #878787;
        padding-left: 30px;
        font-family: "Radikal-Light", "Radikal", sans-serif;
        vertical-align: top; }
  #page.admin #container nav.sub_nav {
    top: 164px;
    position: fixed;
    z-index: 100;
    margin-left: -200px; }
    #page.admin #container nav.sub_nav ul {
      border-left: 2px solid #363331;
      border-bottom: 0px; }
      #page.admin #container nav.sub_nav ul li {
        list-style: none;
        margin-bottom: 4px;
        display: block; }
        #page.admin #container nav.sub_nav ul li:last-of-type {
          margin-bottom: 0px; }
        #page.admin #container nav.sub_nav ul li a {
          font-size: 1em;
          text-align: left;
          display: block;
          font-family: "Radikal", sans-serif;
          padding-left: 6px;
          padding-top: 4px; }
          #page.admin #container nav.sub_nav ul li a.focus {
            border-bottom: none;
            border-left: 2px solid #363331;
            padding-left: 4px; }
  #page.admin #container div.tableHeaderBG {
    left: 0;
    width: 100%;
    position: fixed;
    top: 164px;
    height: 40px;
    background-color: #FDFDFC;
    z-index: 100; }
    #page.admin #container div.tableHeaderBG .inner {
      background-color: #FDFDFC;
      border-bottom: 3px solid #89CEB7;
      height: 100%;
      width: 100%;
      max-width: 960px;
      margin: 0 auto; }
  #page.admin #container table.main {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px; }
    #page.admin #container table.main thead tr th {
      font-size: 1.2em;
      font-family: "Radikal-Light", "Radikal", sans-serif;
      padding-bottom: 6px;
      height: 36px;
      color: transparent;
      line-height: 0;
      overflow: hidden; }
      #page.admin #container table.main thead tr th[data-sort] {
        cursor: pointer; }
        #page.admin #container table.main thead tr th[data-sort] .arrow {
          background-image: url("../images/sort.svg");
          background-repeat: no-repeat;
          display: none;
          width: 12px;
          height: 8px;
          margin-left: 5px;
          margin-bottom: 1px; }
        #page.admin #container table.main thead tr th[data-sort].sorting-asc span, #page.admin #container table.main thead tr th[data-sort].sorting-desc span {
          font-family: "Radikal", sans-serif;
          padding-top: 1px; }
        #page.admin #container table.main thead tr th[data-sort].sorting-asc.sorting-asc .arrow, #page.admin #container table.main thead tr th[data-sort].sorting-desc.sorting-asc .arrow {
          display: inline-block;
          background-position: 0px top; }
        #page.admin #container table.main thead tr th[data-sort].sorting-asc.sorting-desc .arrow, #page.admin #container table.main thead tr th[data-sort].sorting-desc.sorting-desc .arrow {
          display: inline-block;
          background-position: 0px bottom; }
      #page.admin #container table.main thead tr th:first-of-type {
        padding-left: 10px; }
      #page.admin #container table.main thead tr th span {
        display: block;
        position: fixed;
        color: #363331;
        padding-top: 4px;
        z-index: 110; }
    #page.admin #container table.main tbody tr {
      height: 56px;
      border-bottom: 1px solid #89CEB7;
      font-family: "Radikal-Light", "Radikal", sans-serif;
      border-left: 3px solid #FDFDFC; }
      #page.admin #container table.main tbody tr:hover {
        border-left-color: #89CEB7; }
      #page.admin #container table.main tbody tr.empty {
        cursor: auto; }
        #page.admin #container table.main tbody tr.empty:hover {
          border-left-color: #FDFDFC; }
      #page.admin #container table.main tbody tr td {
        line-height: 54px; }
        #page.admin #container table.main tbody tr td.em a {
          color: #363331;
          letter-spacing: 0px; }
        #page.admin #container table.main tbody tr td:first-of-type {
          padding-left: 8px; }
        #page.admin #container table.main tbody tr td a {
          color: #878787;
          display: block;
          letter-spacing: 2px;
          height: 54px;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          transform-style: preserve-3d; }
          #page.admin #container table.main tbody tr td a span {
            line-height: 26px;
            display: block;
            position: relative;
            z-index: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
          #page.admin #container table.main tbody tr td a:hover {
            text-decoration: none; }
      #page.admin #container table.main tbody tr:last-of-type {
        border-bottom: 3px solid #89CEB7; }
@media only screen and (max-width: 1440px) {
  #page.admin #container nav.sub_nav {
    left: 20px;
    margin-left: 0; } }
@media only screen and (max-width: 1280px) {
  #page.admin #container nav.sub_nav {
    top: 90px;
    position: fixed;
    z-index: 100;
    margin-left: 0px;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%; }
    #page.admin #container nav.sub_nav ul {
      border-bottom: 2px solid #363331;
      border-left: none; }
      #page.admin #container nav.sub_nav ul li {
        display: inline-block;
        margin-bottom: 0px;
        text-align: center; }
        #page.admin #container nav.sub_nav ul li:last-of-type {
          margin-bottom: 0px; }
        #page.admin #container nav.sub_nav ul li a {
          font-size: 1.2em;
          text-align: center;
          display: block;
          font-family: "Radikal", sans-serif;
          padding: 0px 5px; }
          #page.admin #container nav.sub_nav ul li a.focus {
            border-bottom: 2px solid #363331;
            border-left: none;
            padding: 0px 5px; }
  #page.admin #container header {
    padding-top: 70px; }
  #page.admin #container div.tableHeaderBG {
    top: 200px; }
  #page.admin #container table.main {
    margin-top: 140px; } }
@media only screen and (max-width: 1024px) {
  #page.admin.single #container {
    width: 610px;
    margin: auto; }
    #page.admin.single #container header {
      padding-top: 90px;
      padding-bottom: 0px; }
      #page.admin.single #container header section.container {
        width: 610px;
        margin: 0 auto; }
        #page.admin.single #container header section.container a.back {
          display: none; }
    #page.admin.single #container div.tableHeaderBG {
      top: 170px; } }
@media only screen and (max-width: 960px) {
  #page.admin #container {
    width: 98%;
    margin: 0px 1%; }
    #page.admin #container header {
      width: 100%;
      margin: 0px; }
      #page.admin #container header section.container {
        width: 98%;
        margin: 0px 1%; }
        #page.admin #container header section.container h1 {
          margin-left: 10px; } }
