table {
  overflow: auto;
  border: 1px solid #313131;
  width: 100%; }
  @media only screen and (min-width: 1441px) {
    table {
      max-width: 1100px; } }
  @media only screen and (min-width: 1701px) {
    table {
      max-width: 1150px; } }
  @media only screen and (min-width: 1921px) {
    table {
      max-width: 1300px; } }
  table a {
    color: #363331;
    text-decoration: none; }
  table thead tr {
    background-color: #313131;
    height: 50px; }
    table thead tr th {
      font-family: "Radikal Bold", "Radikal", sans-serif;
      color: #fdfdfc; }
      table thead tr th:first-child {
        padding-left: 5px; }
  table tbody tr {
    height: 40px; }
    table tbody tr:nth-child(even) {
      background-color: #ededed; }
    table tbody tr td {
      padding: 0px; }
      table tbody tr td:first-child {
        padding-left: 5px;
        font-family: "Radikal Bold", "Radikal", sans-serif; }
      table tbody tr td a {
        display: block; }

#container table.locations {
  max-width: 1024px;
  margin: 30px auto 10px; }
  tbody tr td #container table.locations:first-child {
    padding-left: 5px;
    font-family: "Radikal Bold", "Radikal", sans-serif; }
