/*******************************************/
/*** Style sheet for the global web site ***/
/*******************************************/
/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal; }

fieldset, iframe {
  border: none; }

caption, th {
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

/****************************/
/*** With JavaScript only ***/
/****************************/
html.js #page {
  background: transparent !important; }
  html.js #page article.page#home article.arrow {
    position: absolute;
    bottom: -100px; }
html.js #container {
  opacity: 0;
  background: transparent !important; }
  html.js #container .logo {
    opacity: 0; }

#page.global header {
  background-color: transparent; }
#page.global article.page {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: #fdfdfc;
  overflow: hidden; }
  #page.global article.page > section.custom {
    height: 100%; }
    #page.global article.page > section.custom > h1 {
      text-align: center;
      font-weight: 100;
      font-family: "Radikal-Light", "Radikal", sans-serif;
      font-size: 2em;
      padding-top: 40px;
      margin-bottom: 18px; }
  #page.global article.page#television h1 {
    position: absolute;
    top: 6%;
    margin: 0;
    padding: 0;
    width: 100%; }
  #page.global article.page#television .link {
    bottom: 90px;
    height: 6%;
    position: absolute;
    width: 100%;
    display: block;
    text-align: center; }
    #page.global article.page#television .link a.big {
      text-decoration: none;
      color: #363331;
      text-align: center;
      font-size: 1.5em;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 25px;
      background-image: url("../images/link_right.svg");
      background-position: right center;
      background-size: contain;
      background-repeat: no-repeat; }
  #page.global article.page h2 {
    display: block; }
  #page.global article.page article.slide {
    display: block;
    opacity: 1; }
    #page.global article.page article.slide section {
      display: block; }
#page.global #page > h1 {
  display: block; }
#page.global article.page#home, #page.global.home {
  background: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  #page.global article.page#home article.logo, #page.global.home article.logo {
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    text-align: center; }
    #page.global article.page#home article.logo img, #page.global.home article.logo img {
      width: 100%; }
    #page.global article.page#home article.logo h1, #page.global.home article.logo h1 {
      font-family: "Radikal-Light", "Radikal", sans-serif;
      text-transform: uppercase;
      font-size: 2em;
      display: inline-block;
      padding: 0;
      margin: 0; }
  #page.global article.page#home article.arrow, #page.global.home article.arrow {
    position: absolute;
    bottom: 1%;
    display: none;
    width: 100%; }
    #page.global article.page#home article.arrow a, #page.global.home article.arrow a {
      text-align: center;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      display: block;
      cursor: pointer;
      background-image: url("../images/goDown.svg");
      background-size: 100%;
      background-position: center center;
      position: relative; }
