{% if center.ref == "lausanne" %}
    <li><a target="_blank" id="facebook" class="icon" href="https://www.facebook.com/GCLausanne">Facebook</a></li>
    <li><a target="_blank" id="youtube" class="icon" href="https://www.youtube.com/user/gospelcenterlausanne">YouTube</a>
    </li>

{% elseif center.ref == "annecy" %}
    <li><a target="_blank" id="facebook" class="icon" href="https://www.facebook.com/GCAnnecy">Facebook</a></li>
{% elseif center.ref == "jura" %}
    <li><a target="_blank" id="facebook" class="icon" href="https://www.facebook.com/GCJura">Facebook</a></li>
    <li><a target="_blank" id="instagram" class="icon" href="https://www.instagram.com/gospelcenterjura/">Instagram</a></li>
{% else %}

{% endif %}

