<h1 class="titlePage"><span>Know God</span></h1>

<section class="tab">
    <nav class="sub_nav">
        {% spaceless %}
            <ul class="classic">
                <li><a href="#how" class="current focus">Comment être sauvé ?</a></li>
                <li><a href="#askPray">Demander la prière</a></li>
            </ul>
        {% endspaceless %}
    </nav>


    <article class="tab active" id="how">

        <section class="player">
            <div class="container">
                <iframe src="//player.vimeo.com/video/95829700?title=0&amp;byline=0&amp;portrait=0&amp;color=d91a15&amp;autoplay=0"
                        width="100%" height="0" frameborder="0" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen></iframe>
            </div>
        </section>

        <div class="link"><a target="_blank" href="">Je veux donner ma vie à Jésus</a></div>

    </article>

    <article class="tab default" id="askPray">

        <p>Nous vous proposons de contacter notre partenaire:</p>

        <p><a target="_blank" href="http://www.laguerison.org">L’Association International des Ministères de Guérison</a></p>

        <p>Une personne formée et disponible priera pour vous.</p>

        <section class="tab">
            <nav class="sub_nav">
                {% spaceless %}
                    <ul class="switch-style">
                        <li><a href="#phone" class="current focus">Par téléphone</a></li>
                        <li><a href="#mail">Par E-mail</a></li>
                    </ul>
                {% endspaceless %}
            </nav>

            <article class="tab active" id="phone">
                <article class="frame">
                    <h1>Depuis la Suisse</h1>

                    <p>0848 123 000</p>

                    <p>(CHF 0.08/min)</p>
                </article>

                <article class="frame">
                    <h1>Depuis les autres pays</h1>

                    <p>0041 848 123 000</p>

                    <p>(coût d’un appel normal vers la Suisse réseau fixe)</p>
                </article>
            </article>

            <article class="tab" id="mail">
                <section class="formGray">

                    <form>
                        <fieldset class="left width1_3">
                            <input placeholder="Nom">
                            <input placeholder="E-mail">
                            <input placeholder="Téléphone">
                        </fieldset>
                        <fieldset class="right width2_3">
                            <textarea placeholder="Sujet de prière"></textarea>
                        </fieldset>
                        <input type="submit" class="buttonLink"/>
                    </form>
                </section>
            </article>
        </section>

    </article>
</section>