<a id="logo_home" href="/"></a>

<ul class="centers">
    <li><a href="{{ path('gospelcenterPage_home', {'center': 'lausanne'}) }}">Lausanne</a></li>
    <li><a href="{{ path('gospelcenterPage_home', {'center': 'montreux'}) }}">Montreux</a></li>
    <li><a href="{{ path('gospelcenterPage_home', {'center': 'annecy'}) }}">Annecy</a></li>
    <li><a href="{{ path('gospelcenterPage_home', {'center': 'jura'}) }}">Jura</a></li>
</ul>


<article class="arrow">
    <a id="goDown" href=""></a>
</article>