{% set center = null %}

{% extends "::layoutNew.html.twig" %}

{% block header_nav %}
    {#<li class="home"><a href="/">Gospel Center</a></li>#}
    {% spaceless %}
        {% include "::nav/centers.html.twig" %}
    {% endspaceless %}
{% endblock %}