section.map_full {
    display: block;
    position: relative;

    @include bannerResp(345px);

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 7;
        background-color: $grayLightGC;
        overflow: hidden;
    }

    article {
        z-index: 10;
        position: absolute;
        right: 0;
        top: -1px;
        bottom: 0px;
        width: 400px;
        background-color: rgba($whiteGC, 0.85);

        h1 {
            font-family: $font-light;
            padding-top: 55px;
            padding-left: 30px;
            font-size: 1.9em;
            line-height: 1.9em;
        }

        p {
            padding-left: 30px;
            font-size: 1.2em;
            font-family: $font-light;
            line-height: 1.2em;
            margin-bottom: 15px;

            a {
                padding-left: 0;
            }
        }

        a {
            padding-left: 30px;
            font-size: 1.2em;
            font-family: $font-light;
            line-height: 1.2em;
            margin-bottom: 15px;

            &.buttonLink {
                padding: 5px 3px 2px;
                font-family: $font-bold;
                margin-top: 20px;
                font-size: 1em;
                line-height: 1em;

                &:hover {
                    padding: 4px 2px 1px;
                }
            }
        }
    }

    @media only screen and (max-width: 960px) {
        article {
            width: 300px;

            h1 {
                font-size: 1.5em;
            }

            p {
                font-size: 1.05em;
            }

            a {
                font-size: 1.05em;
            }
        }
    }

    @media only screen and (max-width: $mobileH) {
        article {
            width: 50%;

            h1 {
                padding-top: 20px;
            }
        }
    }

    @media only screen and (max-width: 400px) {
        height: auto;
        background-color: $grayLightGC;

        iframe {
            position: relative;
            height: 200px;
        }

        article {
            width: 100%;
            position: relative;
            height: auto;
            background-color: transparent;
            margin-bottom: 30px;
            top: inherit;

            h1 {
                padding: 10px 0 0 20px;
            }

            p {
                padding: 0 0 20px 20px;
                margin: 0;
            }
        }
    }

}