@import 'basic';

@import "_header";
@import "_footer";
@import "_map";
@import "_formSimple";
@import "advanced/_home";
@import "advanced/_about";
@import "advanced/_events";
@import "advanced/_celebrations";
@import "advanced/_contact";
@import "advanced/_bases";
@import "advanced/_login";
@import "advanced/_youth";
@import "advanced/_guide";

div.playButton {
    width: 50px;
    height: 50px;
    background-image: url('../images/playButton.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#page {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 10;
    background-color: $whiteGC;
    height: auto;

    #container {
        margin-bottom: 70px;
        z-index: 10;
        position: relative;
    }

    @media only screen and (max-width: $mobileH) {
        #container {
            margin-bottom: 30px;
        }
    }
}

#message {
    display: block;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 64px;
    background-color: $greenGC;
    font-size: 1.2em;
    font-family: $font-regular;
    line-height: 1.3em;
    z-index: 1000;
    text-align: center;
    padding: 5px 0;
}

html.touch {
    section.slider {
        div.arrow {
            &#right {
                background-image: url('../images/arrowRight.svg');
                opacity: 0.5;
            }

            &#left {
                background-image: url('../images/arrowLeft.svg');
                opacity: 0.5;
            }
        }
    }
}

section {

    &.gray {
        background-color: $grayLightGC;
        padding-top: 40px;
        padding-bottom: 40px;

        @media only screen and (max-width: $mobileH) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &.mediaList {
        margin: 40px auto 30px;
        display: block;
        text-align: center;

        a {
            display: inline-block;
            margin: 0 10px 20px;
            vertical-align: top;
            text-align: left;
            color: $grayDarkGC;

            &:hover {
                text-decoration: none;

                div.photo {
                    background-color: $grayGC;
                }

            }

            div.photo {
                height: 169px;
                width: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: rgba($grayGC, 0.5);
                background-position: center;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    display: block;
                }

                span {
                    text-align: center;
                    display: block;
                    font-size: 1.2em;
                    padding-top: 80px;
                    text-transform: uppercase;
                    font-family: $font-bold;
                }

                div.playButton {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }

            .details {
                margin: 5px 3px 0px 3px;
                position: relative;

                h1 {
                    font-family: $font-bold;
                    font-size: 0.9em;
                    line-height: 0.9em;
                    text-transform: uppercase;
                }

                span,
                time {
                    font-size: 0.9em;
                    line-height: 0.9em;
                    margin-top: 5px;
                    display: block;
                    text-transform: uppercase;
                    color: $grayGC;
                    font-family: $font-light;
                    letter-spacing: 1px;
                }
            }
        }

        &[data-nb="4"] {

            a:nth-child(2n),
            a:nth-child(2n +1) {
                margin-right: 30px;
                margin-left: 30px;
            }

            @media only screen and (max-width: 1440px) {
                a:nth-child(2n),
                a:nth-child(2n +1) {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }

            @media only screen and (max-width: 1300px) {
                a:nth-child(2n) {
                    margin-right: 160px;
                    margin-left: 20px;
                }

                a:nth-child(2n +1) {
                    margin-left: 160px;
                    margin-right: 20px;
                }
            }

            @media only screen and (max-width: 970px) {
                a:nth-child(2n),
                a:nth-child(2n +1) {
                    margin-right: 20px;
                    margin-left: 20px;
                }
            }

            @media only screen and (max-width: 900px) {
                a:nth-child(2n),
                a:nth-child(2n +1) {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }

        &[data-nb="3"] {

            a {
                margin-right: 40px;
                margin-left: 40px;
            }

            @media only screen and (max-width: 1150px) {
                a {
                    margin-right: 20px;
                    margin-left: 20px;
                }
            }

            @media only screen and (max-width: 1020px) {
                a {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }

            @media only screen and (max-width: 960px) {
                a {
                    margin-right: 10px;
                    margin-left: 10px;
                }

                a:last-of-type {
                    margin-right: 330px;
                }
            }
        }

        &[data-nb="2"] {
            a {
                margin-right: 40px;
                margin-left: 40px;
            }

            @media only screen and (max-width: 870px) {
                a {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }

        @media only screen and (max-width: $mobileH) {
            padding: 0 10px;
            margin-top: 20px;
            margin-bottom: 0px;

            &[data-nb="3"] {
                a:last-of-type {
                    margin-right: 10px;
                }
            }

            a {
                margin: 0;
                display: block;
                margin-bottom: 20px;



                div.photo {
                    width: 100%;
                    padding-bottom: 56.2%;
                    position: relative;
                    height: 0;
                }

                .details {
                    h1 {
                        font-size: 1.2em;
                        line-height: 1.2em;
                    }

                    span {
                        font-size: 1.2em;
                        line-height: 1.2em;
                    }
                }

                &.more {
                    div.photo {
                        height: auto;
                        padding-bottom: 0;

                        span {
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}



