@import 'color';
@import 'reset';
@import '_functionsNew';
@import "size";
@import "font";
@import "_navNew";
@import "_header";
@import "_footer";
@import "_map";
@import "_formSimple";
@import "advanced/_home";
@import "advanced/_about";
@import "advanced/_events";
@import "advanced/_celebrations";
@import "advanced/_contact";
@import "advanced/_bases";
@import "advanced/_login";

body {
    margin: 0px;
    color: $grayDarkGC;
    font-family: $font-regular;
    background-color: $whiteGC;
    width: 100%;
    position: relative;
}

@mixin base($base) {

    body {
        font-size: $base;
        line-height: $base;
    }

    h1 {
        font-size: $base;
        line-height: $base;
    }

    h2 {
        font-size: $base;
        line-height: $base;
    }

    h3 {
        font-size: $base;
        line-height: $base;
    }

    p {
        font-size: $base;
        line-height: $base;
    }

    summary {
        font-size: $base;
        line-height: $base;
    }

    img {
        line-height: $base;
    }
}

@include base(16px);

@media only screen and (max-width: $mobileH) {
    @include base(12px);
    font-family: $font-light;
}

a {
    color: $grayGC;
    text-decoration: none;

    &.buttonLink {
        display: inline-block;
        border: 2px solid $grayDarkGC;
        padding: 4px 3px 3px 3px;
        font-family: $font-bold;
        font-size: 1.2em;
        text-transform: uppercase;
        color: $grayDarkGC;
        margin: 10px 0;

        &:hover {
            text-decoration: none;
            border: 3px solid $grayDarkGC;
            padding: 3px 2px 2px 2px;
        }
    }

    &:hover {
        text-decoration: underline;
    }
}

h1 {

    &.titlePage {
        padding-top: 68px;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.25em;
        font-family: $font-black;
        margin-bottom: 68px;

        span {
            border: 3px solid $grayDarkGC;
            padding: 8px 12px 0px 12px;
            display: inline;
            line-height: 1.1em;
        }

        @media only screen and (max-width: $mobileH) {
            padding-top: 25px;
            margin-bottom: 30px;

            span {
                padding: 6px 8px 0px 8px;
                line-height: 1.3em;
            }

        }
    }

    &.simple {
        font-size: 1.9em;
        line-height: 1.9em;
        font-family: $font-light;
        padding-top: 10px;

        @media only screen and (max-width: $mobileH) {
            font-size: 1.6em;
            line-height: 1.6em;
            font-family: $font-regular;
        }
    }

}

h2 {

    &.slogan {
        font-size: 1.2em;
        line-height: 1.2em;
        text-align: center;
        font-family: $font-light;
        max-width: 500px;
        margin: 30px auto;

        @media only screen and (max-width: $mobileH) {
            max-width: 60%;
            font-size: 1.4em;
            margin: 20px auto;
        }

        @media only screen and (max-width: $mobileW) {
            max-width: inherit;
            margin: 20px 10px;
        }
    }
}

time {
    &.date {
        font-size: 0.9em;
        font-family: $font-light;
        text-transform: uppercase;
        color: $grayGC;
    }
}

div.playButton {
    width: 50px;
    height: 50px;
    background-image: url('../images/playButton.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#page {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 10;
    background-color: $whiteGC;
    height: auto;

    #container {
        margin-bottom: 70px;
        z-index: 10;
        position: relative;
    }

    @media only screen and (max-width: $mobileH) {
        #container {
            margin-bottom: 30px;
        }
    }
}

#message {
    display: block;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 64px;
    background-color: $greenGC;
    font-size: 1.2em;
    font-family: $font-regular;
    line-height: 1.3em;
    z-index: 1000;
    text-align: center;
    padding: 5px 0;
}

html.touch {
    section.slider {
        div.arrow {
            &#right {
                background-image: url('../images/arrowRight.svg');
                opacity: 0.5;
            }

            &#left {
                background-image: url('../images/arrowLeft.svg');
                opacity: 0.5;
            }
        }
    }
}

section {

    &.default {
        max-width: 960px;
        margin: 0 auto;
    }

    &.gray {
        background-color: $grayLightGC;
        padding-top: 40px;
        padding-bottom: 40px;

        @media only screen and (max-width: $mobileH) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &.tab {
        article.tab {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    &.slider {
        display: block;
        margin-top: 70px;
        overflow: hidden;
        position: relative;
        white-space: nowrap;

        &:hover {
            #right {
                background-image: url('../images/arrowRight.svg');
                opacity: 0.5;
            }

            #left {
                background-image: url('../images/arrowLeft.svg');
                opacity: 0.5;
            }
        }

        div.arrow {
            position: absolute;
            width: 300px;
            display: block;
            z-index: 100;
            top: 0;
            bottom: 36px;
            background-repeat: no-repeat;
            cursor: pointer;

            &#left {
                left: 0;
                background-position: 10% center;

                &:hover {
                    opacity: 1;
                }
            }

            &#right {
                right: 0;
                background-position: 90% center;

                &:hover {
                    opacity: 1;
                }
            }
        }

        div.slides {
            position: relative;
            left: 0;
            width: 100%;
        }

        article.slide {
            color: $whiteGC;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            background-repeat: no-repeat;
            background-color: $grayDarkGC;
            background-position: center;
            background-size: cover;
            @include preserve-3d;
            @include bannerResp(490px);

            section.content {
                width: 100%;
                max-width: 800px;
                margin: 0 auto;
                @include vertical-align;
                white-space: normal;

                h1 {
                    font-size: 1.7em;
                    line-height: 1.7em;
                    text-shadow: 0px 2px 4px rgba(black, 0.5);
                }

                p {
                    font-size: 1.25em;
                    line-height: 1.25em;
                    text-shadow: 0px 2px 4px rgba(black, 0.5);

                }
            }

            div.link {
                display: block;
                text-align: center;
                position: absolute;
                width: 100%;
                bottom: 10%;
                text-shadow: none;

                a {
                    border: 1px solid $whiteGC;
                    padding: 5px;
                    color: $white;
                    text-transform: uppercase;
                    font-family: $font-bold;

                    &:hover {
                        text-decoration: none;
                        border-width: 2px;
                    }
                }
            }
        }

        nav#slides {
            display: block;
            width: 100%;

            ul {
                display: block;
                margin: 0 auto;
                text-align: center;

                li {
                    display: inline-block;
                    list-style: none;
                    width: 10px;
                    height: 10px;
                    background-color: $whiteGC;
                    margin: 10px 5px;
                    @include border-radius(10px);
                    border: 1px solid $grayDarkGC;
                    cursor: pointer;

                    &.current {
                        background-color: $grayDarkGC;
                    }
                }
            }
        }

        @media only screen and (min-width: 1700px) {
            div.arrow {
                width: 400px;
            }
        }

        @media only screen and (min-width: 1800px) {
            div.arrow {
                width: 450px;
            }
        }

        @media only screen and (min-width: 1900px) {
            div.arrow {
                width: 500px;
            }
        }

        @media only screen and (min-width: 2000px) {
            div.arrow {
                width: 600px;
            }
        }

        @media only screen and (min-width: 2100px) {
            div.arrow {
                width: 650px;
            }
        }

        @media only screen and (max-width: $tabletH) {

            article.slide {
                height: 430px;

                section.content {
                    max-width: 600px;
                }
            }
        }

        @media only screen and (max-width: $tabletH) {
            div.arrow {
                width: 100px;
            }

            article.slide {
                height: 360px;

                section.content {
                    max-width: 500px;

                    h1 {
                        text-shadow: 0px 1px 2px rgba(black, 0.5);
                    }

                    p {
                        text-shadow: 0px 1px 2px rgba(black, 0.5);
                    }
                }
            }
        }

        @media only screen and (max-width: $mobileH) {
            margin-top: 30px;

            div.arrow {
                display: none;
            }

            article.slide {
                height: 360px;

                section.content {
                    max-width: inherit;
                    width: auto;
                    margin: 0 10px;

                    h1 {
                        text-shadow: 0px 2px 4px rgba(black, 0.5);
                    }

                    p {
                        text-shadow: 0px 2px 4px rgba(black, 0.5);
                    }
                }

                div.link {
                    bottom: 20px;
                }
            }

            nav#slides {
                margin-top: -30px;
                position: absolute;

                ul {
                    li {
                        border-color: $whiteGC;
                        background-color: transparent;

                        &.current {
                            background-color: $whiteGC;
                        }
                    }
                }
            }
        }
    }

    &.mediaList {
        margin: 40px auto 30px;
        display: block;
        text-align: center;

        a {
            display: inline-block;
            margin: 0 10px 20px;
            vertical-align: top;
            text-align: left;
            color: $grayDarkGC;

            &:hover {
                text-decoration: none;

                div.photo {
                    background-color: $grayGC;
                }

            }

            div.photo {
                height: 169px;
                width: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: rgba($grayGC, 0.5);
                background-position: center;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    display: block;
                }

                span {
                    text-align: center;
                    display: block;
                    font-size: 1.2em;
                    padding-top: 80px;
                    text-transform: uppercase;
                    font-family: $font-bold;
                }

                div.playButton {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }

            .details {
                margin: 5px 3px 0px 3px;
                position: relative;

                h1 {
                    font-family: $font-bold;
                    font-size: 0.9em;
                    line-height: 0.9em;
                    text-transform: uppercase;
                }

                span,
                time {
                    font-size: 0.9em;
                    padding-left: 10px;
                    line-height: 1.1em;
                    position: absolute;
                    right: 0;
                    top: -2px;
                    background-color: $grayLightGC;
                    text-transform: uppercase;
                    color: $grayGC;
                    font-family: $font-light;
                    letter-spacing: 1px;
                }
            }
        }

        &[data-nb="4"] {

            a:nth-child(2n),
            a:nth-child(2n +1) {
                margin-right: 30px;
                margin-left: 30px;
            }

            @media only screen and (max-width: 1440px) {
                a:nth-child(2n),
                a:nth-child(2n +1) {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }

            @media only screen and (max-width: 1300px) {
                a:nth-child(2n) {
                    margin-right: 160px;
                    margin-left: 20px;
                }

                a:nth-child(2n +1) {
                    margin-left: 160px;
                    margin-right: 20px;
                }
            }

            @media only screen and (max-width: 970px) {
                a:nth-child(2n),
                a:nth-child(2n +1) {
                    margin-right: 20px;
                    margin-left: 20px;
                }
            }

            @media only screen and (max-width: 900px) {
                a:nth-child(2n),
                a:nth-child(2n +1) {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }

        &[data-nb="3"] {

            a {
                margin-right: 40px;
                margin-left: 40px;
            }

            @media only screen and (max-width: 1150px) {
                a {
                    margin-right: 20px;
                    margin-left: 20px;
                }
            }

            @media only screen and (max-width: 1020px) {
                a {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }

            @media only screen and (max-width: 960px) {
                a {
                    margin-right: 10px;
                    margin-left: 10px;
                }

                a:last-of-type {
                    margin-right: 330px;
                }
            }
        }

        &[data-nb="2"] {
            a {
                margin-right: 40px;
                margin-left: 40px;
            }

            @media only screen and (max-width: 870px) {
                a {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }

        @media only screen and (max-width: $mobileH) {
            padding: 0 10px;
            margin-top: 20px;
            margin-bottom: 0px;

            &[data-nb="3"] {
                a:last-of-type {
                    margin-right: 10px;
                }
            }

            a {
                margin: 0;
                display: block;
                margin-bottom: 20px;



                div.photo {
                    width: 100%;
                    padding-bottom: 56.2%;
                    position: relative;
                    height: 0;
                }

                .details {
                    h1 {
                        font-size: 1.2em;
                        line-height: 1.2em;
                    }

                    span {
                        font-size: 1.2em;
                        line-height: 1.2em;
                    }
                }

                &.more {
                    div.photo {
                        height: auto;
                        padding-bottom: 0;

                        span {
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    &.formGray {
        background-color: $grayLightGC;
        width: 100%;
        margin-top: 70px;
        padding-top: 40px;
        padding-bottom: 40px;

        & > h1 {
            font-family: $font-light;
            font-size: 1.2em;
            line-height: 1.2em;
            text-align: center;
            text-transform: uppercase;
        }

        form {
            width: 800px;
            margin: 30px auto 0;

            fieldset {
                vertical-align: top;
                display: inline-block;
                position: relative;

                &.width1_3 {
                    width: 32%;
                    margin-left: 0.5%;
                    margin-right: 0.5%;

                    input,
                    textarea {
                        width: 91%;
                        padding-left: 4%;
                        padding-right: 4%;
                    }
                }

                &.width2_3 {
                    width: 65%;
                    margin-left: 0.5%;
                    margin-right: 0.5%;

                    input,
                    textarea {
                        width: 95%;
                        padding-left: 2%;
                        padding-right: 2%;
                    }
                }
            }

            input,
            textarea {
                border: 1px solid $grayGC;
                line-height: 22px;
                vertical-align: center;
                height: 22px;
                padding: 10px 10px;
                font-size: 1.1em;
                font-family: $font-light;
                letter-spacing: 0px;
                background-color: $grayLightGC;
                margin-top: 18px;
                display: block;
                width: 100%;
                @include border-radius(0px);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                &:focus {
                    border: 2px solid $grayDarkGC;
                    outline: none;
                    padding-left: 9px;
                    height: 20px;
                    width: 100%;
                }

                &[type="submit"] {
                    display: block;
                    border: 2px solid $grayDarkGC;
                    padding: 3px;
                    font-family: $font-bold;
                    font-size: 1.2em;
                    text-transform: uppercase;
                    color: $grayDarkGC;
                    margin: 10px 1.5% 10px auto;
                    width: auto;
                    height: auto;
                    line-height: 1em;
                    margin-top: 30px;
                    cursor: pointer;
                    text-align: right;

                    &:hover {
                        text-decoration: none;
                        border: 3px solid $grayDarkGC;
                        padding: 2px;
                    }

                }
            }

            input {
                text-align: center;
            }

            textarea {
                min-height: 100px;
                padding-top: 10px;
            }
        }

        @media only screen and (max-width: 960px) {
            form {
                width: auto;
                margin-left: 16px;
                margin-right: 16px;
            }
        }

        @media only screen and (max-width: $mobileH) {
            margin-top: 30px;
            padding-top: 20px;
            padding-bottom: 20px;

            form {
                margin: 20px 10px 0;

                fieldset {
                    display: block;

                    &.width1_3,
                    &.width2_3 {
                        width: 100%;
                    }
                }

                input[type="submit"] {
                    margin-top: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}

article {

    &.default {
        max-width: 960px;
        margin: 0 auto;
    }

    &.blog-style {
        max-width: 960px;
        margin: 70px auto 70px;
        display: block;

        & > h1 {
            text-transform: uppercase;
            margin-left: 80px;
            border-bottom: 4px solid $grayDarkGC;
            margin-bottom: 20px;
            font-size: 1.9em;
            line-height: 1.2em;
            font-family: $font-light;
            padding-bottom: 10px;
            max-width: 620px;
        }

        img.big {
            width: 800px;
            margin: 20px 0 50px 80px;
            display: block;
        }

        & > h2 {
            text-transform: uppercase;
            margin-left: 80px;
            font-size: 1.4em;
            font-family: $font-black;
            margin-top: 40px;
            margin-bottom: 10px;
            border-bottom: 3px solid $grayDarkGC;
            max-width: 560px;
            display: block;
            padding-bottom: 5px;

            span {
                border: 3px solid $grayDarkGC;
                padding: 5px 8px 2px 8px;
            }
        }

        & > h3 {
            text-transform: uppercase;
            font-family: $font-bold;
            margin-left: 80px;
            margin-top: 30px;
            font-size: 1.2em;
            line-height: 1.2em;
        }

        & > p {
            max-width: 560px;
            margin-top: 5px;
            margin-left: 80px;
            font-family: $font-light;
            font-size: 1.2em;
            line-height: 1.2em;
            display: block;
            padding-bottom: 14px;
        }

        ul {
            max-width: 560px;
            margin-left: 80px;
            display: block;
            padding-bottom: 20px;

            li {
                font-family: $font-light;
                font-size: 1.2em;
                line-height: 1.4em;
                list-style: round;
                margin-left: 40px;
                padding-left: 10px;
            }
        }

        section.bible {
            margin-left: 100px;
            max-width: 540px;
            margin-bottom: 30px;

            h1.verse {
                text-transform: uppercase;
                font-family: $font-light;
                color: $grayGC;
                font-size: 0.9em;
                line-height: 0.9em;
                padding-top: 10px;
            }

            blockquote {
                font-family: $font-light;
                font-size: 1.2em;
                line-height: 1.2em;
                display: block;
                padding-bottom: 14px;
                margin-top: 10px;
            }
        }

        article.frame {
            margin-left: 80px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        @media only screen and (max-width: 960px) {

            & > h1,
            & > img.big,
            & > h2,
            & > h3,
            & > p,
            & > ul,
            & > article.frame {
                margin-left: 32px;
            }

            section.bible {
                margin-left: 52px;
            }

        }

        @media only screen and (max-width: 832px) {
            img.big {
                margin-left: 0px;
                text-align: right;
                margin-right: 0px;
                float: right;
                margin-top: 0;
            }
        }

        @media only screen and (max-width: 800px) {
            img.big {
                width: 100%;
                float: none;
                margin-top: 20px;
            }
        }

        @media only screen and (max-width: $mobileH) {

            margin-top: 40px;
            margin-bottom: 30px;

            & > h1,
            & > h2,
            & > h3,
            & > p,
            & > ul,
            & > article.frame,
            & > section.bible {
                margin-left: 10px;
                margin-right: 10px;
            }

            & > img.big {
                margin: 0 0 20px;
            }

            section.bible {
                margin-left: 20px;

                h1.verse {
                    font-size: 1.3em;
                    line-height: 1.3em;
                }

                blockquote {
                    font-size: 1.3em;
                    line-height: 1.3em;
                }
            }

            h2 {
                border-bottom-width: 2px;
                margin-top: 30px;

                span {
                    border-width: 2px;
                    border-bottom-width: 0px;
                    padding-bottom: 4px;
                }
            }

            article.frame {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            ul li {
                margin-left: 30px;
                padding-left: 0;
            }

            p,
            blockquote,
            h3,
            ul li {
                font-size: 1.3em;
                line-height: 1.3em;
            }
        }
    }

    &.frame {
        border-left: 4px solid $greenGC;
        margin: 15px 0;
        padding: 4px 0 0 8px;

        h1 {
            font-size: 1.2em;
            line-height: 1.2em;
            text-transform: uppercase;
            font-family: $font-bold;
            letter-spacing: 1px;
        }

        p {
            text-transform: uppercase;
            font-family: $font-light;
            font-size: 1.2em;
            line-height: 1.2em;
            letter-spacing: 2px;
            padding-top: 5px;
        }

        @media only screen and (max-width: $tabletH) {
            h1 {
                font-size: 1.05em;
                line-height: 1.05em;
            }

            p {
                font-size: 1.05em;
                line-height: 1.05em;
            }
        }
    }
}




