@import 'color';
@import 'reset';
@import 'functions';
@import 'font';
@import 'nav_mobile';

$lineH: 46px;

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    overflow: visible;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html body > header {
    
    a.left {
        
        &#back {
            background-image: url('../images/back.svg');
        }
    }
}

body {
	margin: 0px;
	color: $black;
	font-family: $font-regular;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	background-color: $white;
	position: relative;
	cursor: default;
	width: 100%;
}

.no-svg {
    
    #get_ruban {
        background-image: url('../images/get_ruban.png') !important;
    }
    
    #get_nav {
        background-image: url('../images/get_nav.png') !important;
    }
}


.no-overflowscrolling {
    height: auto;
    
    body {
        height: auto;
        
        #page {
            //position: absolute;
            //height: auto;
        }
        
        #ruban_nav {
            height: auto;
            overflow: hidden;
            position: absolute;
        }
        
        #nav {
            position: absolute;
            overflow-y: visible;
        }
    }
}

body > header {
    height: $lineH;
    min-width: 320px;
    position: fixed;
    max-width: 100%;
    width: 100%;
    background: $white;
    top:0px;
    display: block;
    z-index: 9999;
    border-bottom: 1px solid $grayLight;
    
    a.left {
        height: $lineH;
        width: $lineH;
        display: inline-block;
        background-size: 70% 70%;
        background-repeat: no-repeat;
        background-position: center center;
        
        &#get_ruban {
            background-image: url('../images/get_ruban.svg');
        }
    }
    
    h1 {
        display: inline-block;
        position: absolute;
        text-align: center;
        left: ($lineH + 5px);
        right: ($lineH + 5px);
        font-family: $font-bold;
        font-size: 1.2em;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
    a.right {
        height: $lineH;
        width: $lineH;
        display: inline-block;
        float: right;
        background-size: 70% 70%;
        background-repeat: no-repeat;
        background-position: center center;
        
        &#get_nav {
            background-image: url('../images/get_nav.svg');
            
            &.selected {
                background-image: url('../images/get_nav_inversed.svg');
            }
        }
    }
    
    
}

#page {
    background-color: $white;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
    
    #container {
        margin-top: (1.2 * $lineH);
        overflow-y: scroll;  
        
        
        nav.sub_nav {
            display: block;
            width: 100%;
            padding: 10px 0 10px 0;
            
            @include navRounded();
        }
        
        span.empty {
            text-align: center;
            width: 100%;
            display: block;
        }
        
    }
    
    &.bases.local {
        
        #container {
            margin-top: 0px;
            height: 100%;
            width: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            
            h2 {
                margin-top: 0.5 * $lineH;
                width: 88%;
                margin-left: 6%;
                border-bottom: 1px solid $white;
                font-size: 1.2em;
                text-align: center;
                padding-bottom: 0.1 * $lineH;
                z-index: 200;
                position: absolute;
                top: $lineH;
                color: $white;
            }
            
            section.slider {
                height: 100%;
                position: absolute;
                top: 0px;
                width: 100%;
                min-height: 4 * $lineH;
                display: block;
                overflow: hidden;
                cursor: pointer;
                
                article.slide {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    
                    section.img {
                        height: 100%;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-position: top center;
                        background-size: cover;
                    }
                    
                    section.details {
                        padding: 0px;
                        margin: 0px;
                        top: 21%;
                        height: 80%;
                        width: 100%;
                        z-index: 100;
                        padding-left: 0%;
                        position: absolute;
                        @include gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8), rgba(0,0,0,0.0));
                        
                        div {
                            color: $white;
                            padding-left: 4%;
                            padding-right: 4%;
                            width: 92%;
                            display: block;
                            position: absolute;
                            bottom: 8%;
                            left: 0px;
                            
                            h1 {
                                font-family: $font-bold;
                                font-size: 1.4em;
                            }
                            
                            p {
                                text-align: justify;
                            }
                            
                            p.link {
                                text-align: center;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                
                                a {
                                    color: $white;
                                    text-decoration: none;
                                    text-align: center;
                                    @include border-radius (3px);
                                    cursor: pointer;
                                    padding: 6px 25px;
                                    border: 1px solid $white;
                                    
                                    a:active {
                                        background-color: $white;
                                    }
                                }
                            }
                        }
                    }
                    
                    
                }
                
                nav#slides {
                    position: absolute;
                    bottom: 0%;
                    width: 100%;
                    z-index: 200;
                    
                    ul {
                        text-align: center;
                        
                        li {
                            border: 1px solid $white;
                            margin-left: 5px;
                            margin-right: 5px;
                            border-radius: 6px;
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            cursor: pointer;
                            
                            &.current {
                                background: $white;
                            }
                        }
                    }
                }
            }
            
        }
        
    }
    
    &.events.local {
        
        #container {
            margin-top: $lineH;
            height: initial;
            width: auto;
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: hidden;
            
            nav.sub_nav {
                margin-bottom: 0.3 * $lineH;
            }
            
            a.events {
                display: block;
                width: 96%;
                position: relative;
                margin: 3% auto;
                
                img {
                    width: 100%;
                    vertical-align: middle;
                }
                
                section.details {
                    padding: 0px;
                    margin: 0px;
                    background: $grayDark;
                    width: 100%;
                    z-index: 100;
                    padding-left: 0%;
                    position: relative;
                    color: $white;
                    text-decoration: none;
                        
                    h1 {
                        font-family: $font-bold;
                        font-size: 1.4em;
                        display: inline-block;
                        padding: 1% 2%;
                    }
                    
                    time {
                        float: right;
                        padding: 2% 2%;
                    }
                }
                
                
            }
            
            article.event {
                
                img {
                    width: 100%;
                }
                
                sumary {
                    font-family: $font-bold;
                    margin: 0.3 * $lineH;
                    text-align: justify;
                    display: block;
                }
                
                & > p {
                    margin: 0.3 * $lineH;
                    text-align: justify;
                }
                
                section.details {
                    margin: 0.3 * $lineH;
                    border: 2px solid $red;
                    padding-bottom: 0.3 * $lineH;
                    @include border-radius (3px);
                    
                    time {
                        text-align: center;
                        background: $red;
                        color: $white;
                        display: block;
                        font-size: 1.5em;
                        padding: 5px 0;
                    }
                    
                    h1 {
                        font-family: $font-light;
                        font-size: 1.5em;
                        padding: 0.3 * $lineH;
                    }
                    
                    p {
                        padding-left: 0.3 * $lineH;
                    }
                }
            }
        }
    }
    
    &.celebrations.local {
        overflow-x: hidden;
        overflow-y: hidden;
        -webkit-overflow-scrolling: hidden;
        
        #container {
            margin-top: $lineH;
            height: 100%;
            width: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            
            section.nextCelebrations {
                height: 50%;
                min-height: 4 * $lineH;
                display: block;
                overflow: hidden;
                cursor: pointer;
                
                article {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    
                    section.img {
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: top center;
                        background-size: cover; 
                        
                        img {
                            height: 100%;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                    
                    section.details {
                        padding: 0px;
                        margin: 0px;
                        margin-top: -2.3 * $lineH;
                        height: 2.3 * $lineH;
                        width: 100%;
                        z-index: 100;
                        padding-left: 0%;
                        position: relative;
                        @include gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8), rgba(0,0,0,0.0));
                        
                        div {
                            color: $white;
                            padding-left: 4%;
                            padding-right: 4%;
                            width: 92%;
                            display: block;
                            position: absolute;
                            bottom: 30%;
                            left: 0px;
                            
                            h1 {
                                font-family: $font-bold;
                                font-size: 1.4em;
                            }
                            
                            h2 {
                                font-size: 1.3em;
                            }
                        }
                    }
                    
                }
                
                nav#slides {
                    width: 100%;
                    z-index: 200;
                    position: absolute;
                    top: 57%;
                    
                    ul {
                        text-align: center;
                        
                        li {
                            border: 1px solid $white;
                            margin-left: 5px;
                            margin-right: 5px;
                            border-radius: 6px;
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            cursor: pointer;
                            
                            &.current {
                                background: $white;
                            }
                        }
                    }
                }

                
                img {
                    height: 70%;
                    width: auto;
                }
            }
            
            section.lastCelebrations {
                width: 100%;
                margin-top: 0.5 * $lineH;
                cursor: pointer;
                
                & > h1 {
                    font-size: 1.2em;
                    font-family: $font-bold;
                    padding-left: 0.3 * $lineH;
                    margin-bottom: 0.2 * $lineH;
                }
                
                & > section {
                    padding-left: 0.3 * $lineH;
                    overflow: hidden;
                    position: absolute;
                    left: 0px;
                    
                    article {
                        height: 2 * $lineH;
                        width: (16/9) * (2 * $lineH);
                        display: inline-block;
                        margin-right: 0.3 * $lineH;
                        position: relative;
                        
                        section.img {
                            height: 100%;
                            
                            img {
                                height: 100%;
                                padding: 0px;
                                margin: 0px;
                            }
                        }
                        
                        section.details {
                            padding: 0px;
                            margin: 0px;
                            margin-top: -1.2 * $lineH;
                            height: 1.2 * $lineH;
                            width: 100%;
                            z-index: 100;
                            padding-left: 0%;
                            position: relative;
                            @include gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8), rgba(0,0,0,0.0));
                            
                            h1 {
                                color: $white;
                                padding-left: 4%;
                                padding-right: 4%;
                                width: 92%;
                                display: block;
                                position: absolute;
                                bottom: 4%;
                                left: 0px;
                                font-size: 1.2em;
                                font-family: $font-bold;
                            }
                        }
                        
                    }
                }
            }
            
            
        }

        
    }
}


#ruban_nav {
	z-index: 0;
	background-color: $grayDark;
	color: $white;
	width: 80%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	display: none;
	overflow: visible;
	
	article {
	    height: 100%;
	    position: relative;
	    display: block;
	    overflow: scroll;
        -webkit-overflow-scrolling: touch;
	    
    	& > h1 {
    		height: $lineH;
    		text-align: center;
    		font-weight: 100;
    		font-size: 1.4em;
    		border-bottom: 1px solid $grayLight;
    		margin: 0px;
    		font-family: $font-light;
    		
    		a {
    			padding-top: 9px;
    			padding-bottom: 9px;
    			display: block;
    			color: $white;
    			text-decoration: none;
    		}
    	}
    	
    	nav {
    	
    		h1 {
    			color: $black;
    			background: $grayLight;
    			padding: 2px 0 2px 10px;
    		}
    		
    		ul {
    		
    			li {
    				height: $lineH;
    				border-top: 1px solid $grayLight;
    				list-style-type: none;
    				
    				a {
    					color: $grayLight;
    					text-decoration: none;
    					font-size: 1.2em;
    					position: relative;
    					display: block;
    					padding: 11px 0 11px 20px;
    				}
    			}	
    		}
    	}
	}
}

#nav {
	z-index: 200;
	background-color: $white;
	border-bottom: 1px solid $grayLight;
	width: 100%;
	position: fixed;
	top: $lineH;
	left: 0px;
	top: -(100%);
	overflow-y: scroll;
	display: none;
	max-height: 100%;
	-webkit-overflow-scrolling: touch;
	
	ul {
	    margin-top: $lineH;
	    background-color: $white;
	    
    	li {
        	height: $lineH;
        	border-top: 1px solid $grayLight;
        	
        	a {
            	text-align: center;
            	display: block;
                text-decoration: none;
                color: $grayDark;
                font-family: $font-light;
                font-size: 1.2em;
                padding-top: 11px;
                padding-bottom: 11px;
        	}
    	}
	}
}