@import 'color';
@import 'font';

table {
	overflow: auto;
	border: 1px solid $grayDark;
	width: 100%;
    
    @media only screen and (min-width: $L) {
        & {
            max-width: 1100px;
        }  
    }
    
    @media only screen and (min-width: $XL) {
        & {
            max-width: 1150px;
        }
    }
    
    @media only screen and (min-width: $XXL) {
        & {
            max-width: 1300px;
        }
    }
    
    a {
        color: $black;
        text-decoration: none;
    }
    
    thead {
        tr {
            background-color: $grayDark;
            height: 50px;
            
            th {
                font-family: $font-bold;
                color: $white;
                
                span {
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center bottom;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    margin-bottom: -4px;
                    margin-left: 10px;
                }
                
                &[data-sort] {
                    cursor: pointer;
                    
                    span {
                        background-image: url('../images/sort.svg');
                    }
                }
                
                &.sorting-desc {
                    
                    span {
                        background-image: url('../images/desc.svg');
                    }
                }
                
                &.sorting-asc {
                    
                    span {
                        background-image: url('../images/asc.svg');
                    }
                }
                
                &:first-child {
                    padding-left: 5px;
                }
            }
        }
    }
    
    tbody {
        tr {
            height: 40px;
            
            &.old td a {
                color: $grayLight;
            }
            
            &.today td a {
                color: $red;
            }
            
            &:nth-child(even) {
                background-color: lighten( $grayLight, 40% );
            }
            
            td {
                padding: 0px;
            
                &:first-child {
                    padding-left: 5px;
                    font-family: $font-bold;
                }
                
                a {
                    display: block;
                    height: 20px;
                    padding: 10px 0;
                }
            }
            
            
        }
    }
}