{% extends "::adminGlobal_options.html.twig" %}

{% block gospelcenterAdminOptions_body %}
    
    <table class="main">
        <thead>
            <tr>
                <th data-sort="string">Service</th>
            </tr>
        </thead>
        <tbody>
            {% for access in accesses %}
                <tr>
                    <td><a href="{{ path('gospelcenterAdminGlobal_options_accesses_edit', {'access': access.id}) }}">{{ access.service }}</a></td>
                </tr>
            {% else %}
                <tr><td colspan="3">There are no accesses.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
