{% extends "::localNew.html.twig" %}

{% block body %}

    <section class="default">
        <h1 class="titlePage"><span>Merci</span></h1>

        <h2 class="slogan">Merci d'avoir pris le temps de nous envoyer un message. Nous vous répondrons dans les
            meilleurs délais.<br/>
            <br/>
            <a href="{{ path('gospelcenterPage_home', {'center': center.ref}) }}">Retourner à la page d'accueil</a>

        </h2>
    </section>



{% endblock %}